* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
	background:url(descarga.jpg); /* Nuestra imagen de fondo */
	/*background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:cover; /* Encajamos la imagen al 100% del ancho */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
 
	font-family:helvetica, arial, sans-serif;
	line-height:20px;
}
 
.contenedor {
	width: 90%;
	max-width:900px;
	margin:auto;
}
 
article {
	background:rgba(24,8,33,.9);
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}
 
article h2 {
	color:#fff;
}
 
article hr {
	background:#F64740;
	height:5px;
	border:none;
}
 
article p {
	line-height: 25px;
}
 
article h2, article p, article hr {
	margin-bottom: 20px;
}






/*
Estas propiedades son las que usaremos si estamos trabajando con una imagen muy grande, como un paisaje ya que si trabajas con texturas necesitaras cambiar algunas propiedades.

Si trabajas con texturas tienes que cambiar las propiedades de background y dejar el body de la siguiente manera:

CSS

body {
	background:url(bg.jpg);  Nuestra textura 
	background-repeat:repeat;  Indicamos que la textura se repetira 
	background-attachment: fixed;  Establecemos una posicion fija para la textura 
	 Eliminamos la propiedad de background-size 
}
1
2
3
4
5
6
body {
	background:url(bg.jpg);  Nuestra textura 
	background-repeat:repeat;  Indicamos que la textura se repetira 
	background-attachment: fixed;  Establecemos una posicion fija para la textura 
	 Eliminamos la propiedad de background-size 
}
Lo único que hacemos es quitar background-size y cambiar el valor de background-repeat para que se repita la textura en todo el fondo.
*/
