* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
	background:url(images/fondomitihd.jpg); /* Nuestra imagen de fondo */
	/*background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:cover; /* Encajamos la imagen al 100% del ancho */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
 
	font-family:helvetica, arial, sans-serif!important;
	line-height:20px!important;
}



#lblarea, #lblmail{
	color: #d16e6c;
	visibility: hidden;
}

.holder{
	margin: 0!important;

}
 
.contenedor {
	width: 90%;
	max-width:900px;
	margin:auto;
}
 
#tercero {
	background:rgba(234, 219, 243, 0.9);			
	padding:20px;
	margin:20px 0;
	color:rgb(0, 0, 0);
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
	height: 100%;	
}



#primero{
	
	background: white!important;				/*24,8,33,.9*/
	padding:20px;
	margin:20px 0;
	color:rgb(0, 0, 0);
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
	margin-top: 15%;
	
	
}

#segundo{
	
	/*background:rgba(252, 239, 199, 0.9);	*/
	height: 600px;			/*24,8,33,.9*/
	padding:20px;
	margin:20px 0;
	color:rgb(0, 0, 0);
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
	background: white;
	margin-top: 20%;
}

#tercero{
	margin-top: 20%;
	height: 100%;
}

#img1{
	margin-left: 8%;
}

/*
#imgcar1{
	
	background-image:url(images/photos/local1.jpg);
	background-position: 25% 75%;
    background-size: cover;
/*https://clowis.000webhostapp.com/images/photos/local1.jpg
}*/



#mapa{
	
	/*background:rgba(252, 239, 199, 0.9);	*/
	/*height: 500px;*/			/*24,8,33,.9*/
	
	padding:20px;
	margin:20px 0;
	color:rgb(0, 0, 0);
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
	background: white;
	margin-top: 20%;
}

#contacto{
	
	/*background:rgba(252, 239, 199, 0.9);	*/
	height: 100%;			/*24,8,33,.9*/
	padding:20px;
	margin:20px 0;
	color:rgb(0, 0, 0);
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
	background: white;
	margin-top: 20%;
}

#submit1{
	color: #000!important;
}
 
article h2 {
	color:rgb(0, 0, 0);
	float: left;
}

div h2 {
	color:rgb(0, 0, 0);
	float: left;
}
 
article hr {
	background:rgb(0, 0, 0);
	height:5px;
	border:none;
		
}

div hr {
	background:rgb(0, 0, 0);
	height:5px;
	border:none;
		
}
 
#pFoto1 {
	text-align: left;
	padding:  140px;
	padding-left: 0;
	margin-right: 400px;
	text-shadow: 5px 5px 5px #aaa;
	
}
 
article h2, article p, article hr {
	margin-bottom: 20px;
}
div h2, div p, div hr {
	margin-bottom: 20px;
}

#navbar{
	background: rgb(0, 0, 0)!important;
	color: white!important;
}
#navbarNav{
	background: black!important;
}

#navbarNav li a{

	float: initial;
	margin-left: 20px;
	font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
	text-transform: uppercase;
	text-align: center;

}

#menu{
	margin-right: 100px;
}




#foto1{
	float: right;
}



/*video*/
#foto2{
	float: left;
	width: 80%;
	height: 50%;
	border-radius: 70px 70px 70px 70px;
	-moz-border-radius: 70px 70px 70px 70px;
	-webkit-border-radius: 70px 70px 70px 70px;
	padding: 0px;
	margin-top: 7px;
	margin-right: 1%;
}




/*leyenda y demas del carrusel*/
.leyendatitulo{
/*	color: black!important;*/
	text-align: center!important;
	font-style:italic;
	text-align:center;
	position:initial;
	background:rgba(0, 0, 0, 0.4);
	color: #fff;
	font-weight: 100;
	text-align: center;
	width: 100%;
	text-shadow: 
	  2px 2px 0 #000,
	  -2px -2px 0 #000,  
	  2px -2px 0 #000,
	  -2px 2px 0 #000,
	  2px 2px 0 #000;
	-webkit-text-stroke: 1px rgba(0,0,0,.7);
}
.leyenda{
/*	color: black!important;*/
color: #fff;
/*ont-size: 15vw;*/
font-weight: 100;
text-align: center;
width: 100%;
text-shadow: 
  2px 2px 0 #000,
  -2px -2px 0 #000,  
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
-webkit-text-stroke: 1px rgba(0,0,0,.7);
	text-align: center!important;
	font-style:italic;
	text-align:center;
	position:initial;
	background:rgba(0, 0, 0, 0.4);
	margin: 0;
	padding: 0;
	
	
}

.carousel, .carousel-inner > .item > img {
	height: 600px;
  }

/*para achicar el carrousel*/
  .carousel-item {
	height: 85vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  
  .card-columns .card {
	display: inline-block;
	width: 100%;
  }
  
 .card-img-top {
	width: 100%;
	height: 200px !important; 
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
  }






address{
	
	text-align: center;
	font-size: 150%;
}

#clowi2:link, #clowi2:visited { text-decoration: none }
#clowi2:hover { text-decoration: underline }
#clowi1:link, #clowi1:visited { text-decoration: none }
#clowi1:hover { text-decoration: underline }




/****footer****/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}

footer h6,footer li{

	text-align: center;

}

/*****************************/


.hit-the-floor {
	color: rgb(0, 0, 0);
	font-size: 2em;
	font-weight: bold;
	font-family: Helvetica;
	
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	}
	
	.hit-the-floor {
	  text-align: center;
	}

	#map {
		height: 400px;
		width: 100%;
		float: right;
		border: solid 1px black;
		margin-top: 5%;
	   }

	  
/******************conatct******************************/






.row{
	position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.about-contact{
	padding-left: 100px;
    padding-right: 100px;
}

.form-contact{
	margin-top: 30px;
}
div.holder{
    position: relative;
    margin-bottom: 25px;
}
.holder-half{
	width: 50%;
	float: left;
	position: relative;
	padding-right: 15px;
	margin-bottom: 25px;
}

.form-label{
	font-size: 14px;
	font-family: "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-input{
	width: 100%;
    padding: 8px 15px;
    line-height: 24.2px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.form-select{
	line-height: 38px;
    display: block;
    width: 100%;
    height: 42px;
    border: 1px solid #ccc;
    color: inherit;
}
option{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.input-textarea{
    min-height: 150px;
    line-height: 1.5;
    padding-top: 15px;
    width: 100%;
}
.form-button{
	padding-left: 35px;
    padding-right: 35px;
    background: #558ce6;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 14px 15px;
}


#pp{
	width: 100%;
	padding: 0;
	margin: 0;
}	

 
col-md-3 {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }




	/***************responsive********************************************/
	@media (max-width:  2040px){


		#primero{
			height: 750px	;
		}

		#foto2{
			width: 56%;
		}


	}
	
	@media (max-width:  1366px){
	
	
		#foto2{
			width: 80%;
		}
	
	}
	
	
	
	
	@media (max-width:  850px){
	
	#hrprimero{
		width: 70%;
		float: right;
	}

	#primero{
		height: 100%;
	}

	}

	#tercero{
		height: 100%;
		
	}


	@media (max-width:  750px){

#foto2{
	display: none;
	
}

#segundo{
	height: 100%;
}

#titulo{
	width: 100%;
}
#hrprimero{
	width: 100%;
	
}

#foto1{
	width: 100%;
}

#pFoto1{
	width: 100%;
	padding:0;
}

#tercero{
	height: 70%;
/*	margin-top: 60%;*/
}


body {
	background:url(images/fondo11thumb.jpg); /* Nuestra imagen de fondo */

}

	}

	@media (max-width: 480px){

#titulo{
	width: 100%;
}

#foto1{
	width: 100%;
	
}

#pFoto1{
	width: 100%;
	padding:0;
}

#foto2{
	display: none;
	
}
#txtvideo{
	float: right;
	margin:10px;
	padding: 0;
}

#primero{
	height: 100%;
	margin-top: 40%;
}

#segundo{
	height: 100%;
	margin-top: 60%;
}


#tercero{
	height: 70%;
/*	margin-top: 60%;*/
}

#contacto{
	height: 100%;
	margin-top: 60%;
}

#mapa{
	height: 100%;
	margin-top: 60%;
}

.about-contact{
	padding-left: 0;
    padding-right: 0;
}

body {
	background:url(images/fondomitihdthumb.jpg); /* Nuestra imagen de fondo */

}

#imgcar2{
	/*-background:url(images/photos/local1h.jpg)!important;*/
	background-position: 90%!important;
    
	}

#imgcar4{
	/*-background:url(images/photos/local1h.jpg)!important;*/
	background-position: 5% 5%!important;
	
	}

#imgcar6{
	/*-background:url(images/photos/local1h.jpg)!important;*/
	background-position: 95% 95%!important;
	
	}

}